@import 'https://fonts.googleapis.com/css?family=family=Source+Sans+Pro';

.lw { font-size: 60px; }


body {
  color : #555;
  margin: 0 auto;
  max-width: 55em;
  font-family: "Source Sans Pro", "Roboto", "Arial", sans-serif;
  line-height: 1.5;
  /*padding: 4em 1em; */
}

#video {
  margin-top: 3em;
  padding-top: 3em;
  margin-bottom: 3em;
  padding-bottom: 3em;
}



h1 {
  margin-top: -10px;
  margin-bottom: -4px;
  font-size: 104px;
}

h2 {
  font-size: 24px;
}


h1,
h2,
strong {
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arial"
}

a {
  color: #e81c4f;
  text-decoration: none;
}

header {
  background-image: url("header.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 1em 0em;
}
